In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
import time
import re

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


from sklearn.ensemble import RandomForestClassifier
import pickle

In [29]:
df=pd.read_csv("movie_review.csv",names=["text", "genre"])

In [3]:
df=df[1:24000]

In [4]:
for sentence in df.text:
        clean=re.compile("<.*?>")
        sentence=re.sub(clean," ",sentence)

In [5]:
df.text=df.text.str.lower()

In [6]:
df.text=df.text.str.replace("[^a-z]"," ")

In [25]:
df.tail()

                                                    text     genre
23995  geniu geniu rememb exact second sat pub shrops...  positive
23996  guess film magic need fluid seamless skip back...  positive
23997  wonder sometim mayb meryl streep becom accept ...  positive
23998  classic sens four humor specif concept funni e...  positive
23999  love batman tv seri realli look forward tri mu...  negative

In [8]:
df.text= df.text.str.split()

In [9]:
df.tail()

                                                text     genre
1  [one, of, the, other, reviewers, has, mentione...  positive
2  [a, wonderful, little, production, br, br, the...  positive
3  [i, thought, this, was, a, wonderful, way, to,...  positive
4  [basically, there, s, a, family, where, a, lit...  negative
5  [petter, mattei, s, love, in, the, time, of, m...  positive

In [10]:
stop_words=stopwords.words("english")
stop_words.append("br")

In [11]:
df.text=df.text.apply(lambda x : [word for word in x if word not in stop_words])

In [12]:
df.head()

                                                text     genre
1  [one, reviewers, mentioned, watching, oz, epis...  positive
2  [wonderful, little, production, filming, techn...  positive
3  [thought, wonderful, way, spend, time, hot, su...  positive
4  [basically, family, little, boy, jake, thinks,...  negative
5  [petter, mattei, love, time, money, visually, ...  positive

In [13]:
word_lemmat=WordNetLemmatizer()
df.text=df.text.apply(lambda x: [word_lemmat.lemmatize(word) for word in x])

In [14]:
ps=PorterStemmer()
df.text=df.text.apply(lambda x: " ".join([ps.stem(word) for word in x]))

In [15]:
df.head()

                                                text     genre
1  one review mention watch oz episod hook right ...  positive
2  wonder littl product film techniqu unassum old...  positive
3  thought wonder way spend time hot summer weeke...  positive
4  basic famili littl boy jake think zombi closet...  negative
5  petter mattei love time money visual stun film...  positive

In [16]:
df.tail()

                                                    text     genre
23995  geniu geniu rememb exact second sat pub shrops...  positive
23996  guess film magic need fluid seamless skip back...  positive
23997  wonder sometim mayb meryl streep becom accept ...  positive
23998  classic sens four humor specif concept funni e...  positive
23999  love batman tv seri realli look forward tri mu...  negative

In [17]:
cv=CountVectorizer()
feature=pd.DataFrame(cv.fit_transform(df.text).toarray(), columns=cv.get_feature_names())

In [18]:
X_X=feature.iloc[:,:].values

In [19]:
X_X.shape

(23999, 50153)

In [20]:
y=df.genre
ln=LabelEncoder()
y=ln.fit_transform(y)

In [21]:
X_train_train,X_train_test,y_train_train,y_train_test=train_test_split(X_X,y,test_size=0.25,random_state=0)

In [22]:
##Random Forest##
start_random=time.time()
rfc=RandomForestClassifier()
rfc.fit(X_train_train,y_train_train)
stop_random=time.time()
y_pred_rand=rfc.predict(X_train_test)
acc_rfc=accuracy_score(y_train_test,y_pred_rand)
print("Accuracy score is %f" %acc_rfc)
print("Time taken is %f"%(stop_random-start_random))

C:\Users\sanke\AppData\Local\conda\conda\envs\tensorflow_env\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Accuracy score is 0.751500
Time taken is 148.973550

In [23]:
filename = 'randomForestCv'
with open(filename, 'wb') as fout:
    pickle.dump((cv, rfc,ln), fout)

In [30]:
df_test=df[25000:]

In [34]:
df_test.to_csv("reviewTest.csv", index=False)

In [31]:
df_test.head()

                                                    text     genre
25000  This film should have never been made. Honestl...  negative
25001  This movie was bad from the start. The only pu...  negative
25002  God, I never felt so insulted in my whole life...  negative
25003  Not being a fan of the Coen Brothers or George...  positive
25004  The movie Andaz Apna Apna in my books is the t...  positive